body{
    font-style: 34px;
}
 p.red{
     color:red; 
 }
p.red {
    color:red;
}
p.italic{
    font-family: italic;
}
p.strong{
    font-weight: bold;
}
    p.green{
        color: green;
}
li.red{
    color: red;
}
li.blue{
    color: blue;
}